@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kufam&display=swap");

/* ---------------------------------- NAV BAR* ------------------------------------/
/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-family: "Tajawal", sans-serif;
  background-color: rgba(238, 241, 241, 0.986);
}
h1 {
  font-size: 5rem;
  margin-bottom: 1rem;
  color: #fff;
}
h3 {
  font-size: 3rem;
  line-height: 5rem;
  color: #fff;
  margin-bottom: 2rem;
}
p {
  font-size: 1.5rem;
  line-height: 1rem;
  margin-bottom: 0.5rem;
}
.navigation {
  background-color: rgb(10, 77, 71);
}
nav {
  width: 90%;
  margin: 0 auto;
  max-width: 1366px;
  display: flex;
  justify-content: space-between;
  height: 10vh;
  align-items: center;
  font-size: 1.6rem;
}
.logo {
  font-family: "Kufam", sans-serif;
  font-size: 3rem;
  color: #fff;
  flex: 2;
}
nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  flex: 0.9;
}
.nav-links {
  color: white;
  text-decoration: none;
  display: block;
}
.nav-links:hover {
  color: orange;
}
/* ---------------------------------- HERO SECTION ------------------------------------*/
.heroSection {
  height: 90vh;
  position: relative;
}
.heroSection::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(12, 102, 138, 0.7)),
    url(./delivery.avif);
  background-size: cover;
  z-index: -1;
}
.content {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1366px;
  height: 90vh;
  align-items: flex-start;
  /*the alignment start from right to left , so it's align it  */
}

h1 span {
  color: rgb(1, 204, 109);
  font-family: "Kufam", sans-serif;
}

h3 span {
  color: rgb(1, 204, 109);
}
.btn {
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: bold;
  background-color: rgb(13, 167, 77);
  border: none;
  padding: 1.25rem 3rem;
  border-radius: 0.5rem;
  outline: none;
}
.btn a {
  text-decoration: none;
  color: white;
  margin: 2rem;
}
.btn:hover {
  background-color: rgb(76, 223, 137);
  /* transition: 0.4s; */
}
.btn:active {
  background-color: red;
  transform: scale(0.9);
}
/* notes: */
/* convert to block to add padding  */
